{{- if .Values.ingress.enabled -}}
{{- $releaseName := .Release.Name -}}
{{- $servicePort := .Values.service.port -}}
{{- $ingressPaths := .Values.ingress.paths -}}
{{- $ingressGate := .Values.ingress.gate -}}
{{- $activemqConsole := .Values.ingress.activemqConsole -}}
apiVersion: {{ if $ingressGate }}gatemin.io/v1alpha1{{ else }}networking.k8s.io/v1beta1{{ end }}
kind: {{ if $ingressGate }}IngressGate{{ else }}Ingress{{ end }}
metadata:
  name: {{ $releaseName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ $releaseName }}
{{- with .Values.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
{{ toYaml .Values.ingress.tls | indent 4 }}
{{- end }}
{{- if $ingressGate }}
  auth:
    type: NONE
{{- end }}
{{- if not $ingressGate }}
  rules:
{{- end }}
{{- range .Values.ingress.hosts }}
  {{- if $ingressGate }}
  host: {{ . }}
  services: 
  {{- else }}
    - host: {{ . }}
      http:
        paths:
  {{- end }}
  {{- range $ingressPaths }}
    {{- if $ingressGate }}
    - path: {{ . }}
      backend:
        serviceName: {{ $releaseName }}
        servicePort: {{ $servicePort }}
    {{- else }}
          - path: {{ . }}
            backend:
              serviceName: {{ $releaseName }}
              servicePort: {{ $servicePort }}
    {{- end }}
  {{- end }}
  {{- if and $activemqConsole $ingressGate }}
    - path: /console
      backend: 
        serviceName: {{ $releaseName }}-activemq-artemis
        servicePort: 8161  
  {{- end }}
{{- end }}
{{- end }}
