apiVersion: v2
name: gxf
description: Generic GXF Helm chart
version: '1.2.10'
icon: https://artwork.lfenergy.org/projects/grid-exchange-fabric/abbrev/color/grid-exchange-fabric-abbrev-color.png
maintainers:
  - name: OSGP
    email: gxf@lists.lfenergy.org
    url: https://www.lfenergy.org/projects/gxf/
dependencies:
- name: activemq-artemis
  version: "0.0.11"
  repository: "https://osgp.github.io/charts/"
  condition: activemq-artemis.enabled
- name: postgresql
  version: "8.6.3"
  repository: "https://charts.helm.sh/stable"
  condition: postgresql.enabled
engine: gotpl
